@import "../styles/variables";
@import "../styles/mixins";

.slot-conteiner {
  color: white;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  .gameResult {
    border: 1px solid white;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }
  .box {
    padding: 2rem;

    // box-shadow: -5px -5px 9px rgba(0, 0, 0, 0.45),
    //   5px 5px 9px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 4px;
  }

  &__interface {
    // border-radius: 4px 4px 0 0;
    // border-color: white;

    @include mediaQuery($desktop-large-widht) {
      width: 5 * $slot-icon-width-large-desktop;
      height: 3 * $slot-icon-width-large-desktop;
    }
    @include mediaQuery($desktop-width) {
      width: 5 * $slot-icon-width-desktop;
      height: 3 * $slot-icon-width-desktop;
    }
    @include mediaQuery($tablet-width) {
      width: 5 * $slot-icon-width-tablet;
      height: 3 * $slot-icon-width-tablet;
    }
    @include mediaQuery($mobile-width) {
      width: 5 * $slot-icon-width-mobile;
      height: 3 * $slot-icon-width-mobile;
    }

    display: flex;
    overflow: hidden;

    .column {
      @include mediaQuery($desktop-large-widht) {
        width: $slot-icon-width-large-desktop;
      }
      @include mediaQuery($desktop-width) {
        width: $slot-icon-width-desktop;
      }
      @include mediaQuery($tablet-width) {
        width: $slot-icon-width-tablet;
      }

      @include mediaQuery($mobile-width) {
        width: $slot-icon-width-mobile;
      }

      position: relative;
      display: flex;
      flex-direction: column;
      .reel {
        position: absolute;
        bottom: 0px;

        & > div {
          @include mediaQuery($desktop-large-widht) {
            min-width: $slot-icon-width-large-desktop;
            width: $slot-icon-width-large-desktop;
            min-height: $slot-icon-width-large-desktop;
            height: $slot-icon-width-large-desktop;
          }
          @include mediaQuery($desktop-width) {
            min-width: $slot-icon-width-desktop;
            width: $slot-icon-width-desktop;
            min-height: $slot-icon-width-desktop;
            height: $slot-icon-width-desktop;
          }
          @include mediaQuery($tablet-width) {
            min-width: $slot-icon-width-tablet;
            width: $slot-icon-width-tablet;
            min-height: $slot-icon-width-tablet;
            height: $slot-icon-width-tablet;
          }
          @include mediaQuery($mobile-width) {
            min-width: $slot-icon-width-mobile;
            width: $slot-icon-width-mobile;
            min-height: $slot-icon-width-mobile;
            height: $slot-icon-width-mobile;
          }

          display: flex;
          align-items: center;
          justify-content: center;
        }

        & > div > img {
          height: 80%;
          width: 80%;
          object-fit: contain;
        }
      }
    }
  }

  .gameControlls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 34rem;
    margin-top: 0.5rem;

    padding: 0.5rem;
    .set-bet {
      display: flex;
      align-items: center;
      justify-content: center;
      & > button {
        background-color: $background;
        color: white;
        border: 1px solid white;
        padding: 0.4rem;
        border-radius: 4px;
        font-size: 0.5rem;
        cursor: pointer;
      }
      &__bet {
        padding: 0 0.5rem;
      }
    }
    .btn-start {
      padding: 0.5rem 1rem;

      background-color: $background;
      font-family: $roboto-font-mono;
      border: 1px solid white;
      color: white;
      border-radius: 3px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 0.75rem;
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        color: gray;
        border: 1px solid gray;
        cursor: not-allowed;
      }
    }
    .btn-reset {
      padding: 0.5rem 1rem;

      background-color: $background;
      font-family: $roboto-font-mono;
      border: 1px solid white;
      color: white;
      border-radius: 3px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 0.75rem;
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        color: gray;
        border: 1px solid gray;
        cursor: not-allowed;
      }
    }
  }
}

.message {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-top: 1rem;
  letter-spacing: 1px;
}
